# IDE dirs
.venv
.idea

# configs
.env

# LOGS
./*.log
setup.log

# Aider temp files
code/.aider.tags.cache.v4
code/.aider.chat.history.md
code/.aider.input.history
!code/.aider.model.metadata.json

# Agent temp files (tasks + test code)
code
agent/tasks
!code/hello.py

# required agent files (tasks samples + configs)
!code/.aider.model.metadata.json
!agent/tasks/TF-1/TF-1_task.md
!agent/tasks/TF-2/TF-2_task.md
!agent/tasks/TF-3/TF-3_task.md
!agent/tasks/TF-2/TF-2_log.md